$elbow-color: #444;

:host ::ng-deep {
  * {
    margin: 0;
    padding: 0;
  }

  li.has-children {
    background: lightgoldenrodyellow;
    cursor: pointer;
  }

  li:not(.has-children) {
    cursor: initial;
  }

  li.has-children > div:hover,
  li.is-over > div {
    background: #d1c072;
  }

  ul {
    margin: 0 0 0 20px;
    list-style: none;
    line-height: 2em;
    font-family: Arial, sans-serif;
  }

  li {
    position: relative;
    list-style: none;
    font-size: 16px;

    &::before {
      position: absolute;
      left: -15px;
      top: 0;
      content: '';
      display: block;
      border-left: 1px solid $elbow-color;
      height: 1em;
      border-bottom: 1px solid $elbow-color;
      width: 10px;
    }

    &::after {
      position: absolute;
      left: -15px;
      bottom: -7px;
      content: '';
      display: block;
      border-left: 1px solid $elbow-color;
      height: 100%;
    }

    &.root {
      margin: 0 0 0 -20px;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    &:last-child::after {
      display: none;
    }
  }
}
